<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MaxGame.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <MaxGame.Properties.Settings>
            <setting name="QuitMessage" serializeAs="String">
                <value>Are you sure you want to quit?</value>
            </setting>
            <setting name="Question" serializeAs="String">
                <value>Question</value>
            </setting>
            <setting name="ClearMessage" serializeAs="String">
                <value>Are you sure you want to clear the board?</value>
            </setting>
            <setting name="FailToSave" serializeAs="String">
                <value>Failed to save game file.</value>
            </setting>
            <setting name="Error" serializeAs="String">
                <value>Error</value>
            </setting>
            <setting name="FailToLoad" serializeAs="String">
                <value>Failed to load game file.</value>
            </setting>
            <setting name="Success" serializeAs="String">
                <value>Success</value>
            </setting>
            <setting name="CongratulationMsg" serializeAs="String">
                <value>Congratulations!</value>
            </setting>
            <setting name="OpenFile" serializeAs="String">
                <value>Select File To Open</value>
            </setting>
            <setting name="SaveFile" serializeAs="String">
                <value>Select File To Save</value>
            </setting>
        </MaxGame.Properties.Settings>
    </userSettings>
</configuration>